@import './base.css';

:root {
  /* 调整 ElMessage 全局距离顶部的偏移量，防止被自定义顶部拖拽栏遮挡 */
  --el-message-top: 50px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#app {
  height: 100%;
  width: 100%;
}
